{% extends "base.html" %} {% load static %} {% block content %}

<form action="#" method="post">
  {% csrf_token %}
  <div class="container border border-2 border-dark rounded rounded-2 py-3 my-3">
    <div>
      <label for="">Hindi</label>
      <input type="text" placeholder="Enter marks" name="Hindi" class="form-control" />
    </div>

    <div>
      <label for="">English</label>
      <input type="text" placeholder="Enter marks" name="English" class="form-control />
    </div>

    <div>
      <label for="">Maths</label>
      <input type="text" placeholder="Enter marks" name="Maths" class="form-control />
    </div>

    <div>
      <label for="">Science</label>
      <input type="text" placeholder="Enter marks" name="Science" class="form-control />
    </div>

    <div>
      <label for="">S.S.T.</label>
      <input type="text" placeholder="Enter marks" name="SST" class="form-control />
    </div>
    <button type="submit">Submit</button>

    <div>
      <label for="">Total</label>
      <input type="text" value="{{Output}}" placeholder="Total Marks" class="form-control />
    </div>
    <div>
      <label for="">Percentage</label>
      <input type="text" value="{{PRC}}" placeholder="Total Percentage" class="form-control />
    </div>
    <div>
      <label for="">Division</label>
      <input type="text" value="{{Division}}" placeholder="Division" class="form-control />
    </div>
  </div>
</form>

{% endblock %}
