<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple classes</title>
    <style>
        #border{
            border: 1px solid black;
        }
        .bg{
            background-color: red;
        }
        /* pd-10 : padding : 10px ;*/
        .pd-10{
            padding: 10px;
        }
        .color-red{
            color: white;
        }
    </style>
</head>
<body>
   <h1 id="border">Submit</h1> 
   <h1 id="border" class="bg">Submit</h1> 
   <h1 class="border bg pd-10">Submit</h1> 
   <h1 class="border bg pd-10 color-red">Submit</h1> 
</body>
</html>