{% extends 'base.html' %} {% block content %}

<form method="POST">
    {% csrf_token %}
  <div>
    <label for="box1">Value 1</label>
    <input type="text" id="box1" placeholder="Enter number 1" value="{{value1}}" name="num1" />
  </div>
  <div>
    <label for="box2">Value 2</label>
    <input type="text" id="box2"  placeholder="Enter number 2" value="{{value2}}"  name="num2" />
  </div>
  <button type="Submit">Submit</button>
  <div>
    <label for="">Total</label>
    <input type="text" value="{{output}}" />
  </div>
</form>
{% endblock %}
